/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: 'Roboto Mono', monospace;
    line-height: 1.4;
    background-color: #ab97e3;
    color: #333;
    padding: 0;
    margin: 0;
    height: 100vh; /* Full viewport height */
    overflow: hidden; /* Disable scrolling */
}

.container {
    width: 90%;
    max-width: 900px; /* Reduced max-width */
    margin: 0 auto;
    padding: 0; /* Remove padding for full width */
    box-sizing: border-box; /* Include padding in width calculation */
}

.no-underline {
    text-decoration: none;
}

header {
    background: url('header.png') no-repeat center center;
    background-size: cover; /* Make sure image covers the header */
    position: relative;
    height: 20%; /* Set fixed height for header */
    width: 100%; /* Full width */
    color: #fff;
    text-align: center;
}

header .container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%); /* Center the container vertically and horizontally */
    text-align: center;
    z-index: 1; /* Ensure text is above the image */
}

header h1 {
    margin-bottom: 5px;
    font-size: 2rem; /* Adjust font size */
}

header p {
    font-size: 1rem; /* Adjust font size */
    margin-bottom: 10px;
}

section {
    padding: 12px 0; /* Adjust padding */
    text-align: center; /* Center text */
}

section h2 {
    margin-bottom: 10px;
    font-size: 1rem; /* Adjust font size */
    border-bottom: 1px solid #333;
    display: inline-block;
    padding-bottom: 5px; /* Adjust padding */
}

section h3, p {
    font-size: 1rem; /* Adjust font size */
    display: inline-block;
    text-align: left;
    margin-bottom: 5px; /* Reduced margin */
}

.project {
    font-size: 1rem; /* Adjust font size */
    text-align: left;
    margin-bottom: 5px; /* Reduced margin */
}

footer {
    background: #333; /* Solid color for better readability */
    color: #fff;
    text-align: center;
    padding: 10px 0; /* Reduced padding */
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    color: gray;
    margin: 2px 0; /* Reduced margin */
}

.social-icon {
    color: white;
    text-decoration: none;
    margin: 0 5px; /* Reduced margin */
    font-weight: bold;
}

/* Mobile styles */
@media (max-width: 600px) {
    body {
        height: auto; /* Allow scrolling on mobile */
        overflow: auto; /* Allow scrolling on mobile */
    }

    header {
        height: 150px; /* Adjust header height for mobile */
    }

    header h1 {
        font-size: 1.5rem; /* Adjust font size for mobile */
    }

    header p {
        font-size: 3.5vw;
    }

    section {
        padding-top: 4px; /* Adjust padding for mobile */
        padding-bottom: 4px;
    }

    section h2 {
        font-size: 1rem; /* Adjust font size for mobile */
    }

    section h3, p {
        font-size: 1rem; /* Adjust font size for mobile */
    }

    .project {
        font-size: 1rem; /* Adjust font size for mobile */
    }

    footer {
        padding: 8px 0; /* Adjust padding for mobile */
    }
    footer p {
        text-align: center;
    }

    .social-icon {
        margin: 0 3px; /* Adjust margin for mobile */
    }
}