.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.services-wrapper {
    background-color: rgb(159, 206, 238);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0 2rem 0;
}
.services-container{
    background-color: lightblue;
    color: black;
    width: 70%;
    border: 5px solid black;
    padding: 50px;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
  }
  .services-container > h2, .services-container > h3, .services-container > h4,
  .services-container > h5 {
    background-color: lightblue;
    color: black;
    width: 70%;
    font-size: 32px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
  }
  
  .services-container > p1 {
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    color: black;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: 600;
    line-height: 30px;
  }

  .services-container > p {
    margin-left: 16px;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    color: black;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 30px;
  }
  
  .services-btns {
    margin-top: 32px;
  }
  
  .services-btns .btn {
    margin: 6px;
  }
  
  .fa-play-circle {
    margin-left: 4px;
  }
  
  @media screen and (max-width: 960px) {
    .services-container {
      font-size: 40px;
      margin-bottom: 20px;
      justify-content: center;
      align-items: center;
    }
  }
  
  @media screen and (max-width: 768px) {
    .services-container {
      font-size: 20px;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
    }
  
    .services-container > p {
      font-size: 14px;
      justify-content: center;
      align-items: center;
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
      justify-content: center;
      align-items: center;
    }
  
    .btn {
      width: 100%;
    }
  }