.sign-up > h1 {
    font-size: 40%;
    border: 5px solid black;
    padding: 25px;
    border-radius: 100px;
    width: 25%;
    height: 25%;
    color: black;
    background: #EFBA31;
    z-index: 5;
    position: relative;
    margin-left: 40px;
    margin-right: 40px;
}
.sign-up-links {
    text-align: center;
    padding: 3rem;
    width: 100%;
    display: table;
    color: black;
    /* text-decoration: none; */ 
}
.sign-up > h1:hover {
  background: white;
  /* color: white; */
  border-radius: 0;
}
.sign-up-wrapper {
    background-color: rgb(78, 116, 141);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0 2rem 0;
}
.sign-up-container{
    background-color: lightblue;
    color: black;
    width: 70%;
    border: 5px solid black;
    padding: 50px;
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
  }
.sign-up-container > h1{    
    color: black;
    width: 70%;
    border: 5px solid black;
    padding: 30px;
    margin-bottom: 20px;
}

  .sign-up-container > h2,h3,h4{
    background-color: lightblue;
    color: black;
    width: 70%;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;

  }
  .sign-up-container > p {
    margin-left: 16px;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    color: black;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .sign-up-btns {
    margin-top: 32px;
  }
  
  .sign-up-btns .btn {
    margin: 6px;
  }

  
  @media screen and (max-width: 960px) {
    .sign-up-container {
      font-size: 40px;
      margin-top: -150px;
      justify-content: center;
      align-items: center;
    }
  }
  
  @media screen and (max-width: 768px) {
    .sign-up-container {
      font-size: 20px;
      margin-top: -100px;
      justify-content: center;
      align-items: center;
    }
  
    .sign-up-container > p {
      font-size: 14px;
      justify-content: center;
      align-items: center;
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
      justify-content: center;
      align-items: center;
    }
  
    .btn {
      width: 100%;
    }
  }