* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
  }
  
  .home,
  .services,
  .about,
  .sign-up, 
  .login {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .services {
    background-color: rgb(159, 206, 238);
    /* background-image: url('/Users/darianjennings/Desktop/SE.Project/ProjectSE/rattlerassist/src/images/img-2.jpg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    font-size: 100px;
  }
  
  .about {
    background-color: yellow;
    /* background-image: url('/Users/darianjennings/Desktop/SE.Project/ProjectSE/rattlerassist/src/images/img-1.jpg'); */
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: blue;
    font-size: 100px;
  }
  
  .sign-up {
    /* background-color: rgb(78, 116, 141); */
    background-image: url('/Users/darianjennings/Desktop/SE.Project/ProjectSE/rattlerassist/src/images/signup.jpeg'); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -5;
    position: relative;
  }
  .login {
    /* background-color: rgb(78, 116, 141); */
    background-image: url('/Users/darianjennings/Desktop/SE.Project/ProjectSE/rattlerassist/src/images/login.png'); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -5;
    position: relative;
  }